- if in_cart
  = link_to 'In cart', user_orders_path, class: 'button success'
- else
  = simple_form_for UserOrder.new do |f|
    =f.hidden_field :product_id, value: product.id 
    =f.button :submit, class: 'success', value: 'Add to cart'
