<script>
  paypal.Button.render({
    env: 'sandbox',
    client: {
      sandbox: 'AV8FjZdhdtngU-I05lCPAKUyeztLhKv21CFvcMxpQAioYi5ftCJg-zIvfRy2AeElrPkMDC19__Dqccqg'
    },

    commit: true,

    payment: function() {
      // Make a client-side call to the REST api to create the payment

      return paypal.rest.payment.create(this.props.env, this.props.client, {
        transactions: [{
        amount: { total: '<%= total %>', currency: 'USD' }
        }]
      });
    },
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        document.querySelector('#paypal-button-simple-container').innerText = 'Payment Complete!';
      });
    }
  }, '#paypal-button-simple');
</script>
