<script>
  paypal.Button.render({
    env: 'sandbox', // Optional: specify 'sandbox' environment
    payment: function(resolve, reject) {
      var CREATE_PAYMENT_URL = '<%= paypal_create_payment_path  %>';
      return paypal.request.post(CREATE_PAYMENT_URL, 
        { authenticity_token: document.getElementsByName('csrf-token')[0].content,
          'sale[address]': document.getElementById('sale_address').value,
          'sale[phone]':   document.getElementById('sale_phone').value,
          'sale[mobile]':  document.getElementById('sale_mobile').value
        })
        .then(function(data) { resolve(data.paymentID); })
        .catch(function(err) { reject(err); });
    },
    onAuthorize: function(data) {
      // Note: you can display a confirmation page before executing
      var EXECUTE_PAYMENT_URL = '<%= paypal_execute_payment_path %>'
      return paypal.request.post(EXECUTE_PAYMENT_URL,
        { authenticity_token: document.getElementsByName('csrf-token')[0].content,
         paymentID: data.paymentID, payerID: data.payerID })
        .then(function(data) { document.location.href = '<%= root_path %>' })
        .catch(function(err) { document.location.refresh() });
    }
  }, '#paypal-button-advanced');
</script>
