- if @products.blank? 
  %p Cart is empty.
- else
  =javascript_include_tag "https://www.paypalobjects.com/api/checkout.js"
  .row
    .column.large-8
      =simple_form_for Sale.new, url: buy_path do |f|
        =f.input :address, value: @address
        =f.input :phone, value: @phone
        =f.input :mobile, value: @mobile
        =f.button :submit, class: 'button success', value: 'Buy'
    .column.large-4.callout#cart-summary
      - @products.each do |p|
        .row
          .column.large-3
            =image_tag p.images.first.file.small.url
          .column.large-9
            =link_to p.title, p
        .row
          .float-right= "#{p.price} $"
      %hr
      .row#checkout-sum
        .float-left Total:
        .float-right= "#{@products.pluck(:price).sum} $"
      %hr
      #paypal-button-simple-container
        #paypal-button-simple
      =render 'paypal_button_simple', total: "#{@products.pluck(:price).sum}"
      %hr
      #paypal-button-advanced-container
        #paypal-button-advanced
      =render 'paypal_button_advanced'

