.row#cart
  .column.large-12.cart-summary
    - @products.each do |p|
      .row.product-summary
        .columns.large-1
          =simple_form_for UserOrder.new, url: remove_user_order_path, method: :delete do |f|
            =f.hidden_field :product_id, value: p.id
            =f.button :submit, value: 'X'
        .columns.large-2
          =link_to p do
            =image_tag p.images.first.file.small.url, alt: p.title
        .columns.large-6
          =link_to p.title, p
        .columns.large-3
          %p= "#{p.price} $"
      %hr
  .row 
    .column.large-8 
    .column.large-4  
      .callout
        %p= "Total: #{@products.pluck(:price).sum} $"
        =link_to 'Checkout', checkout_path, class: 'button success'
