- unless categories.blank?
  - categories.each do |category|
    .column
      .card
        = link_to category do
          %img{:src => "https://placehold.it/150x100&text=Thumbnail"}/
          .card-section
            %h5= category.title
