.row
  %h5 Welcome!
.row.small-up-6#category-cards
  = render 'categories/cards', categories: @categories
.row
  .large-12.columns
    .panel
      .row
        .large-2.small-6.columns
          %img{:src => "https://placehold.it/300x300&text=Site%20Owner"}/
        .large-10.small-6.columns
          %strong View history
          %hr/
          Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum
          odio ornare sagittis

