%h3#category-title= @category.title
.row.small-up-6#category-cards
  = render 'cards', categories: @category.children
- unless @products.blank?
  .row.small-up-6#product-cards
    - @products.each do |p|
      .column
        .card.product-preview
          = link_to p do
            = image_tag p.images.first.file.small.url
            .card-section
              %h5.title= p.title
          .card-section.clear-fix
            %p.float-left.price= "#{p.price} $"
            %p.float-right= render 'user_orders/buy_form', product: p, in_cart: @cart_product_ids.include?(p.id)
