.row
  .large-4.column
    - case @product.images.length 
    - when 0
    - when 1
      = image_tag @product.images.first.file.url
    - else
      %p TODO Slider
  .large-8.column
    %h4= @product.title
    %p= "Size: #{@product.size}"
    %p= "Properies: #{@product.info}"
    - if @product.amount > 0
      %span.label In stock
    - else
      %span.label.warning Out of stock
    .callout.large-2
      %p= "#{@product.price} $"
      = render 'user_orders/buy_form', product: @product, in_cart: @in_cart
.row
  %p= @product.descr

