- cache 'catalogue', expires_in: 1.hour do
  %h3 Catalogue
  - if Category.main.count == 0
    %p Sorry, no categories for now. :(
  - else
    %ul.vertical.dropdown.menu{'data-dropdown-menu': true, id: :catalogue}
      = render partial: 'layouts/category', collection: Category.main.with_children, cached: true


