%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : 'Shop'
  %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Shop'}"}
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  = csrf_meta_tags

