.top-bar
  .top-bar-left
    %ul.menu
      %li= link_to 'Shop', root_path
  .top-bar-right
    = render 'layouts/nav_links_for_auth'
  - if content_for? :top_bar_section
    .top-bar-section
      = render 'layouts/top_bar_section'
