!!!
%html
  = render 'layouts/header'
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .row.clear-both
        .float-right
          = link_to 'In cart: ' + items_in_cart.to_s, user_orders_path, class: 'button success', id: 'in-cart'
      .row
        .large-3.small-9.columns
          = render 'layouts/catalogue'
        .large-9.columns
          = yield
    = render 'layouts/footer'
